{% if items %}
  <ul class="toolbar-menu">
    {% for item in items %}
      {% if item['subtree'] is not defined %}
        <li class="menu-item">
          {{ item }}
        </li>
      {% else %}
        <li class="menu-item menu-item--expanded">
          {{ item['link'] }}
          <ul class="toolbar-menu">
            {% for subtree_item in item['subtree'] %}
              <li class="menu-item">
                {{ subtree_item }}
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
